*, html,body{
    inset:unset;
    margin:unset;
    font-family: 'Roboto', sans-serif;
}

.main-reports{
      
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    row-gap: 4px;
}

.sidebar{
    display: flex;
    min-height:100%;
    height:100%;
    flex-direction: column;
    justify-content: flex-start;
    position:fixed;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    row-gap: 4px;
    overflow-y: auto;
    
    
}
.filler{
    
    height: 100%;
    display:flex;
    flex-grow:1;
    background-color: brown;
}

h1{
    font-size: 2rem;
    color: #3399ff;
}

h5{
font-size: 15px; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#23272F;
    font-weight: 500;
}
h6{
    font-size: 1.1rem; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#087EA4;
    
}
/*  */
/* color:#23272F; */
/* #404756 */
/* #087EA4 */

li,a{
    text-decoration: none;
    text-transform: none;
    color:#404756;
    font-size: 13px;
    list-style: none;
    padding: 8px;
    margin-left: 7px;
   letter-spacing: 0.2px;
   
}
.sidebar::-webkit-scrollbar{
    width:8px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: #d6d3d3;
    border-radius: 50px;
}
.sidebar::-webkit-scrollbar-track{
    background-color: #fff;
}

li.active, li:active{ 
    color: '#087ea4';
    background-color: #e6f7ff;
}
.report-window{
    display: flex;
    flex-grow: 1;
    min-height: 100%;
    width: 100%; /* Subtract the width of the sidebar */
    justify-content: flex-end;
}
.reportframe{
    height:100vh;
    min-height:100%;
    width:calc(100vw - 275px);
    background-color: transparent;
}


