*, html,body{
    inset:unset;
    margin:unset;
    font-family: 'Roboto', sans-serif;
}

.main-reports{
    min-height:100dvh;
    height:auto;
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color:#fafafa;
    row-gap: 4px;
}
a{
    text-decoration: none;
    text-transform: none;
    color: #3399ff;
}

h1{
    font-size: 2rem;
    color: #3399ff;
}

h5{
font-size: 16px; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#087EA4;
}
h6{
    font-size: 1.1rem; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#087EA4;
}
/*  */
/* color:#23272F; */
/* #404756 */
/* #087EA4 */

li,a{
    color:#404756;
    font-size: 14px;
    list-style: none;
    padding: 0;
    margin-left: 10px;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;;
}