.main-reports{
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color: lightblue;

}

h1{
    font-size: 2rem;
    color: #3399ff;

}