*, html,body{
    inset:unset;
    margin:unset;
    font-family: 'Roboto', sans-serif;
}

.main-reports{
    height:100dvh;
    border:1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    background-color:#fafafa;

}
a{
    text-decoration: none;
    text-transform: none;
    color: #3399ff;
}

h1{
    font-size: 2rem;
    color: #3399ff;
}

h5{
font-size: 1.3rem; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#424242;
}
h6{
    font-size: 1.1rem; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#424242;
}


li{
    list-style: none;
    padding: 0;
    margin-left: 10px;
}