*, html,body{
    inset:unset;
    margin:0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.main-reports{
      
    display: flex;
    
    flex-grow: 1;
    justify-content: space-between;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    row-gap: 4px;
       
}

.sidebar{
    display: flex;
    height:100%; 
    flex-direction: column;
    justify-content: flex-start;
   
    position:fixed;
    padding: 0.5rem;
    font-family: Roboto,system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',  Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    /* row-gap: 4px; */
    overflow-y: auto;       
}


h1{
    font-size: 2rem;
    color: #3399ff;
}

.section-title{
    font-size: 14px; 
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
    color:#087EA4;
    font-weight: 500;
}
/*  */
/* color:#23272F; */
/* #404756 */
/* #087EA4 */


.sidebar::-webkit-scrollbar{
    width:8px;
}

.sidebar::-webkit-scrollbar-thumb{
    background-color: #d6d3d3;
    border-radius: 50px;
}
.sidebar::-webkit-scrollbar-track{
    background-color: #fff;
}

li.active {
    background-color: #e6F7FF;
    border-radius: 15px;
  }

  li.active a {
    color: #087EA4;
    font-weight: 500;
    
  }

.report-window{
    display: flex;
    flex-grow: 1;
    min-height: 100dvh;
    height:100%;
    width: 101%; /* Subtract the width of the sidebar */
    justify-content: flex-end;   
}
.reportframe{
    height:auto;
    min-height:100%;
    width:calc(100vw - 275px);
}









